### Mac OS ###
.DS_Store

### Gradle ###
.gradle
build/
.externalNativeBuild
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Android Studio ###
.idea
*.iws
*.iml
*.ipr
/local.properties
out/
!**/src/main/**/out/
!**/src/test/**/out/
